body,
#root {
  background: #282c34;
  width: 100vw;
  height: 100vh;
}

.title {
  color: #fff;
  font: italic 100 32px "Helvetica Neue", sans-serif;
}

.selectors {
  list-style-type: none;
}

.selectors li {
  background: #333;
  min-width: 75px;
  font-size: 14px;
}

.sp-layout {
  --sp-layout-height: calc(100vh - 40px - 20px);
  border: 0 !important;
}

* .cm-gutter.cm-lineNumbers {
  font-size: 12px !important;
}

[title="Open in CodeSandbox"] {
  display: none !important;
}

* svg path {
  stroke-width: 1 !important;
}