body,
#root {
  --theme: #282c34;
  background: var(--theme);
  width: 100vw;
  height: 100vh;
}

.title {
  color: #fff;
  font: italic 100 32px "Helvetica Neue", sans-serif;
}

li {
  list-style-type: none;
}

.selectors {
  max-width: min(50vw, 991px);
}

.selectors li {
  background: #333;
  min-width: 75px;
  font-size: 14px;
}

.sp-layout {
  border: 0 !important;
}

* .cm-gutter.cm-lineNumbers {
  font-size: 12px !important;
}

[title="Open in CodeSandbox"] {
  display: none !important;
}

.sp-wrapper * svg path {
  stroke-width: 1 !important;
}

.sp-file-explorer {
  min-width: 150px !important;
  width: 150px !important;
}

.quicon {
  fill: none;
  height: 20px;
  width: 20px;
  margin: 2px 5px 4px 0;
  border-radius: 5px;
}

.tagchip {
  cursor: pointer;
  display: flex;
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  background: #334;
  height: calc(24px + 4px + 2px);
  transition: background 0.5s ease;
}

.tagchip:hover {
  background: #2238;
}

.tagchip div {
  line-height: 24px;
  vertical-align: middle;
  margin-right: 2px;
}