body,
#root {
  --theme: #282c34;
  background: var(--theme);
  width: 100vw;
  height: 100vh;
}

header {
  background: var(--theme);
}

select,
select:focus {
  outline: none;
  background: var(--theme);
  text-transform: capitalize;
  font-size: 16px;
}

.title {
  color: #fff;
  font: italic 400 32px "Helvetica";
}

li {
  list-style-type: none;
}

.selectors {
  max-width: min(50vw, 991px);
}

.selectors li {
  background: #333;
  min-width: 75px;
  font-size: 14px;
}

.sp-layout {
  border: 0 !important;
}

* .cm-gutter.cm-lineNumbers {
  font-size: 12px !important;
}

[title="Open in CodeSandbox"] {
  display: none !important;
}

.sp-wrapper * svg:not(.quicon) path {
  stroke-width: 1 !important;
}

.sp-file-explorer {
  min-width: 150px !important;
  width: 150px !important;
}

.quicon {
  fill: none;
  height: 18px;
  width: 18px;
  margin: 3px;
  border-radius: 5px;
  stroke-width: 2;
}

.tagchip {
  cursor: pointer;
  display: flex;
  margin: 5px;
  border-radius: 5px;
  padding: 2px;
  background: #334;
  height: calc(24px + 4px + 2px);
  transition: background 0.5s ease;
  vertical-align: center;
}

.tagchip:hover {
  background: #2238;
}

.tagchip div {
  line-height: 25px;
  vertical-align: middle;
  margin-right: 3px;
}